<VirtualHost *:80>
    ServerName {{ domain_name }}
    ServerAdmin admin@{{ domain_name }}

    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]

    ErrorLog ${APACHE_LOG_DIR}/{{ domain_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain_name }}_access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ domain_name }}
    ServerAdmin admin@{{ domain_name }}

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ domain_name }}/privkey.pem

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:{{ local_port }}/
    ProxyPassReverse / http://127.0.0.1:{{ local_port }}/

    ErrorLog ${APACHE_LOG_DIR}/{{ domain_name }}_ssl_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain_name }}_ssl_access.log combined
</VirtualHost>
