<VirtualHost *:80>
    ServerName {{ domain_name }}
    ServerAdmin admin@{{ domain_name }}

    DocumentRoot /var/www/html

    # Allow access to the .well-known directory for Certbot
    <Directory "/var/www/html">
        AllowOverride None
        Options None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ domain_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain_name }}_access.log combined
</VirtualHost>
